<div>
<h1>Player 1 is <%=@name1%></h1>
<h1>Player 2 is <%=@name2%></h1>
</div>
<div>
<h1><%=@name1%> <%=@hp1%> Hitpoints</h1>
<h1><%=@name2%> <%=@hp2%> Hitpoints</h1>
</div>
<div>
<h1>Choose a player to attack</h1>
<h1><%=@name1%> or <%=@name2%></h1>
<form action='/attack'>
Player to attack: <input type='text' name='name'>
<input type="submit" value="Submit">
</form>
